@import '../../../../assets/themes/skins/default/theme-default.scss';

:host ::ng-deep .p-breadcrumb {
  background: none !important;
  border: none !important;
}

:host ::ng-deep .p-menuitem-text {
   font-family: $boldFont;
   color: var(--text-color-secondary);

  @media screen and (max-width: 767px) {
    font-size: x-small;
  }
}
