<div class="cardShadow">
    <esa-reusable-search-filter [fields]="fields" (search)="handleSearch($event)"></esa-reusable-search-filter>
    </div>
    <div class="grid mt-2">
      <div class="col">
        <div class="esa-custom-flex">
          <div class="boldFont lableStyle">Showing 0 results:</div>
          <div>
            <esa-reusable-button
                label="Upload Excel"
                backgroundColor="#00549f"
                textColor="#ffffff"
                icon="pi pi-plus-circle"
                (clickAction)="showDialog()">
              </esa-reusable-button>
        </div>
      </div>
    </div>
    </div>
    <p-panel header="Excel List" class="custom-table-pannel mt-4">
        <esa-reusable-table
          [tableData]="filteredData"
          [columns]="columns"
          [showAction]="showAction"
          [rows]="pageSize"
          (uploadSalesDispatchView)="onRowSelected($event)" 
          [showActionDelete]="showActionDelete"
          [rowsPerPageOptions]="rowsPerPageOptions">
        </esa-reusable-table>
      </p-panel>
      <p-dialog header="Upload Excel" [modal]="true" [(visible)]="visible">
        <form [formGroup]="uploadForm" (ngSubmit)="uploadFileConfirm()">
          <div class="flex flex-column gap-2">
            <label for="date" class="filedTitle">Category</label>
            <div class="filter-field">
              <p-dropdown [options]="sourceOptions" formControlName="category" placeholder="Select"></p-dropdown>
            </div>
            <div *ngIf="uploadForm.get('category').invalid && uploadForm.get('category').touched" class="errorField">
              Category is required.
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <label for="startDate" class="filedTitle">Start Date</label>
            <p-calendar formControlName="startDate" placeholder="DD/MM/YY" [iconDisplay]="'input'" [showIcon]="true" utc="false"
              hourFormat="12" dateFormat="dd/mm/yy"></p-calendar>
            <div *ngIf="uploadForm.get('startDate').invalid && uploadForm.get('startDate').touched" class="errorField">
              Start Date is required.
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <label for="endDate" class="filedTitle">End Date</label>
            <p-calendar formControlName="endDate" placeholder="DD/MM/YY" [iconDisplay]="'input'" [showIcon]="true" utc="false"
              hourFormat="12" dateFormat="dd/mm/yy"></p-calendar>
            <div *ngIf="uploadForm.get('endDate').invalid && uploadForm.get('endDate').touched" class="errorField">
              End Date is required.
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <label for="date" class="filedTitle">Date</label>
            <p-calendar formControlName="date" placeholder="DD/MM/YY" [iconDisplay]="'input'" [showIcon]="true" utc="false"
              hourFormat="12" dateFormat="dd/mm/yy"></p-calendar>
            <div *ngIf="uploadForm.get('date').invalid && uploadForm.get('date').touched" class="errorField">
              Date is required.
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <label for="nameOfSalesDispatchExcel" class="filedTitle">Name of Excel</label>
            <input pInputText id="nameOfSalesDispatchExcel" placeholder="Name of Excel" formControlName="nameOfSalesDispatchExcel"
              aria-describedby="nameOfSalesDispatchExcel-help" />
            <div *ngIf="uploadForm.get('nameOfSalesDispatchExcel').invalid && uploadForm.get('nameOfSalesDispatchExcel').touched" class="errorField">
              Name of Excel is required.
            </div>
          </div>
          <div class="form-group mt-2" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
            <input  #fileInput type="file" id="file" (change)="onFileChange($event)" accept=".xls,.xlsx" style="display: none;">
            <label for="file" class="file-label" [class.dragover]="dragOver" style="display: block;">
              <div><img src="../../../assets/images/Upload icon.svg" /></div>
              <div class="dragDrop">Drag & drop files or Browse</div>
              <div class="supportPDF">Supported Format: Excel, should be under 20MB</div>
            </label>
            <div class="file-chosen filedTitle">{{ selectedFileName }}</div>
            <div *ngIf="fileValid" class="errorField">
              Excel file size should be under 20MB. Only Excel files are allowed.
            </div>
          </div>
          
          <div class="form-group btn-align col-12">
            <button pButton pRipple class="esa-button-submit custom-button text-base" type="submit"
              [disabled]="uploadForm.invalid" label="Upload">
              <i class="pi pi-chevron-circle-right mr-1"></i>
            </button>
          </div>
        </form>
      </p-dialog>